# Activar el módulo de reescritura
RewriteEngine On



# Redireccionar páginas específicas

Redirect 301 /viajero-anticipado.php https://costaline.com.mx/viajero-anticipado/
Redirect 301 /costa-pack/ https://costaline.com.mx/pack-multienlace/
Redirect 301 /tarifa-exclusiva/	https://costaline.com.mx/boleto-doters/
Redirect 301 /viajero-anticipado.html https://costaline.com.mx/viajero-anticipado/
Redirect 301 /costapass.html https://costaline.com.mx/travelpass.html
Redirect 301 /costapass-ams.html https://costaline.com.mx/travelpass-ams.html
Redirect 301 /travelpass.html https://costaline.com.mx/monedero-electronico.html





# Redireccionar páginas específicas new

Redirect 301 /pack-multienlace https://costaline.com.mx/servicios/pack-multienlace
Redirect 301 /pack-multienlace/cobertura.html https://costaline.com.mx/servicios/pack-multienlace/terminales-paqueteria.html
Redirect 301 /pack-multienlace/objetos-prohibidos.html https://costaline.com.mx/servicios/pack-multienlace/restricciones-paqueteria.html
Redirect 301 /pack-multienlace/preguntas-frecuentes.html https://costaline.com.mx/servicios/pack-multienlace/como-funciona-paqueteria.html
Redirect 301 /pack-multienlace/contrato.html https://costaline.com.mx/servicios/pack-multienlace
Redirect 301 /pack-multienlace/servicio.html http://costaline-nueva.local/servicios/pack-multienlace/pack-multienlace.html
Redirect 301 /pack-multienlace/guias-prepagadas.html https://costaline.com.mx/servicios/pack-multienlace
Redirect 301 /pack-multienlace/contacto.html https://costaline.com.mx/servicios/pack-multienlace
Redirect 301 /CFDI-datos-receptor.html https://costaline.com.mx/servicios/facturacion.html
Redirect 301 /destinos.html https://costaline.com.mx/destinos
Redirect 301 /boletos-de-autobus.html https://costaline.com.mx/boletos-autobus
Redirect 301 /guia-de-descuentos/ https://costaline.com.mx/descuentos
Redirect 301 /donde-comprar-costaline.html https://costaline.com.mx/boletos-autobus/donde-comprar-costa.html
Redirect 301 /taquillas.html https://costaline.com.mx/terminales-taquillas
Redirect 301 /salas-de-espera-vip.html https://costaline.com.mx/servicios/salas-de-espera.html
Redirect 301 /servicios-a-bordo.html https://costaline.com.mx/servicios/servicio-a-bordo.html
Redirect 301 /promociones.html https://costaline.com.mx/promociones
Redirect 301 /pago-referenciado-oxxo.html https://costaline.com.mx/servicios/pago-referenciado-oxxo.html
Redirect 301 /compra-con-kueski-pay.html http://costaline.com.mx/servicios/compra-con-kueski-pay.html
Redirect 301 /viajero-protegido.html https://costaline.com.mx/servicios/viajero-protegido.html
Redirect 301 /viaja-ahorrando.html https://costaline.com.mx/
Redirect 301 /atencion-a-clientes-app/ https://costaline.com.mx/servicios/atencion-a-clientes.html
Redirect 301 /monedero-electronico.html https://costaline.com.mx/servicios/monedero-electronico.html
Redirect 301 /monedero-ams.html https://costaline.com.mx/servicios/monedero-electronico-ams.html
Redirect 301 /acerca-de-nosotros.html https://costaline.com.mx/nosotros
Redirect 301 /aviso-privacidad.html https://costaline.com.mx/nosotros/aviso-de-privacidad.html
Redirect 301 /preguntas-frecuentes.html https://costaline.com.mx/nosotros/preguntas-frecuentes.html
Redirect 301 /terminos-condiciones.html https://costaline.com.mx/nosotros/terminos-condiciones.html
Redirect 301 /boletos-de-autobus-a-acapulco.html https://costaline.com.mx/boletos-autobus/acapulco.html

# Redireccionar de www a no-www
RewriteCond %{HTTP_HOST} ^www\.costaline\.com\.mx [NC]
RewriteRule ^(.*)$ https://costaline.com.mx/$1 [L,R=301]

# Página de error 404
ErrorDocument 404 /404.html

# Control de caché
<IfModule mod_expires.c>
  ExpiresActive On
  ExpiresByType image/png "access plus 1 month"
  ExpiresByType text/css "access plus 1 week"
  ExpiresByType text/javascript "access plus 1 week"
  ExpiresByType image/jpeg "access plus 1 month"
  ExpiresByType application/javascript "access plus 1 week"
</IfModule>

# Compresión Deflate
<IfModule mod_deflate.c>
  AddOutputFilterByType DEFLATE text/plain
  AddOutputFilterByType DEFLATE text/html
  AddOutputFilterByType DEFLATE text/xml
  AddOutputFilterByType DEFLATE text/css
  AddOutputFilterByType DEFLATE text/javascript
  AddOutputFilterByType DEFLATE application/javascript
  AddOutputFilterByType DEFLATE application/x-javascript
  AddOutputFilterByType DEFLATE application/json
  AddOutputFilterByType DEFLATE image/svg+xml
</IfModule>
